.gitignore
docker-compose.yml
README.md
deploy.sh
destroy.sh

backend/.idea
backend/.venv
backend/.vscode
backend/db.sqlite3
backend/.env
backend/.env.example
backend/README.md 
backend/requests.https

frontend/.vscode
frontend/.gitignore
frontend/README.md
